.nav-item {
    padding-right: 10px;
    padding-left: 10px;
}
.navbar{
    background-color:#FADBD8;
}
.input-group{
    width : 300px;
}
#afterNavbarMenu{
    background: url("../images/picture1.jpg");
    background-size: 100%;
    min-height: 610px;
    padding: 80px;
    border:2px; 
    border-style:solid; 
    border-color:black;
}
.jumbotron{
    background: none;
}
.card{
    background-color: #FADBD8;
}
#homecard{
    border:2px; 
    border-style:solid; 
    border-color:black;
    opacity: 0.9;
}
.card-group{
    border:2px; 
    border-style:solid; 
    border-color:black;
    opacity: 0.9;
}
#spacerCard{
    background: none;
    border: none;
}
.footer-copyright{
    background:#FADBD8;
}
.strokeme
{
    color: #FADBD8;
    text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;  
    padding: 10px;
    
}
table{
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}
#homeimg{
    display: block;
    max-width: 20%;
    height: auto;
  }
  #brand{
    font: 20 40px/1.3 'Oleo Script', Helvetica, sans-serif;
    color: #2b2b2b;
    text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
  }
  #galleryImages{
      max-width: 100%;
  }
input[type=text] {
    border: none;
    border-bottom: 2px solid red;
    width: 100%;
}
  