.nav-item {
    padding-right: 10px;
    padding-left: 10px;
}
.navbar{
    background-color:#FADBD8;
}
.input-group{
    width : 300px;
}
#afterNavbarMenu{
    background: url("../images/picture1.jpg");
    background-size: 100%;
    min-height: 610px;
    padding: 80px;
    border:2px; 
    border-style:solid; 
    border-color:black;
}
.jumbotron{
    background: none;
}
.card{
    background-color: #FADBD8;
}
#homecard{
    border:2px; 
    border-style:solid; 
    border-color:black;
    opacity: 0.9;
}
.card-group{
    border:2px; 
    border-style:solid; 
    border-color:black;
    opacity: 0.9;
}
#spacerCard{
    background: none;
    border: none;
}
.footer-copyright{
    background:#FADBD8;
}
.strokeme
{
    color: #FADBD8;
    text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;  
    padding: 10px;
    
}
table{
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}
#homeimg{
    display: block;
    max-width: 20%;
    height: auto;
  }
  #brand{
    font: 20 40px/1.3 'Oleo Script', Helvetica, sans-serif;
    color: #2b2b2b;
    text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
  }
  #galleryImages{
      max-width: 100%;
  }
input[type=text] {
    border: none;
    border-bottom: 2px solid red;
    width: 100%;
}



/* Dropdown Button */
.dropbtn {
    background-color:orangered;
    color: white;
    padding: 8px;
    font-size: 16px;
    border:2px; 
    border-style:solid; 
    border-color:black;
    opacity: 0.9;
    cursor: pointer;
    border-radius:3px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color:red;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 320px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius:3px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;background-color:#FADBD8;    border:2px; 
    border-style:solid; 
    border-color:black;
    opacity: 0.9;}
  
ul
{
    list-style-type:none;
} 